.App {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(250, 247, 236);
}

@media (min-width: 1024px) {
    .App {
        width: 1024px;
    }
}

body{

    background-image: linear-gradient(-180deg, #aab1a2 0%, #79cad8 100%);
    
}
