.AlcoholDetailInfo img {
    width: 100%;
}

.AlcoholDetailInfo {
    margin: 30px;
    background-color: cornflowerblue;
    border-radius: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 3%;
}

.AlcoholDetailInfo div {
    font-size: 35px;
}
