/* .TitleBar {
    display: flex;
    justify-content: space-between;
    background-color: rgb(118, 145, 45);
    padding: 10px;
}*/

.btn:focus , .btn:active, .btn:hover , .btn {
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
}


/* .TitleBar img {
    height: 50px;
    margin: 10px;
} */

/* .MenuBar {
    display: flex;
    justify-content: space-between;
    background-color: rgb(190, 190, 190);
    padding: 10px;
}
.MenuBar button {
    height: 40px;
    font-size: larger;
} */
